<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Streaming Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="overview()">Home <span class="sr-only">(current)</span></a>
            </li>
           
        </ul>
    </div>
</nav>

<!-- Sidebar and Content -->
<div class="d-flex">
    <div id="sidebar" class="bg-dark text-white p-3">
        <h4>Dashboard</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" (click)="overview()">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="users()">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="videos()">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="comments()">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="likes()">Likes</a>
            </li>
        </ul>
    </div>

    <div id="content" class="p-3 w-100">
        <h1 class="h2">CloudFlicks Overview</h1>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Users</h5>
                        <p class="card-text" id="total-users">{{totalUsers}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Videos</h5>
                        <p class="card-text" id="total-videos">{{totalVideos}}</p>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Likes Chart</h5>
                        <div style="width: 100%; height: 400px;">
                            <canvas #barCanvas></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Likes Data</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Video Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(item of like;track $index){
                                    <tr>
                                        <td>{{item.userName}}</td>
                                        <td>{{item.videoName}}</td>
                                    </tr>
                                }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
