<div class="bg-overlay d-flex justify-content-center align-items-center">
    <div class="content-backgroundImage text-center text-white">
        <form class="login-form">
            <div>
                <h1 style="font-family: serif;">Login</h1>
            </div>
            <div class="input-fields">
                <input type="email" class="" name="email" [(ngModel)]="email" placeholder="Email">
                <input type="password" class="" name="password" [(ngModel)]="password" placeholder="Password">
                <button type="button" class="btn btn-info" (click)="login()">Login</button>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/adminLogin" style="text-decoration: none;">Admin ? <span class="text-danger">Click here</span></a>
                    </div>
                    
                </div>
               
            </div>
            
          
        </form>
    </div>
</div>


   
  <!-- separater between two components -->
  
  <div class="divider"></div>
    
    

  
  <!-- footer -->
  
  <footer class="footer-distributed">
  
              <div class="footer-left">
  
                  <h3>CloudFlicks</h3>
  
                  <p class="footer-links">
                      <a href="#" class="link-1">Home</a>
                      
                      <a href="#">Blog</a>
                  
                      <a href="#">Pricing</a>
                  
                      <a href="#">About</a>
                      
                      <a href="#">Faq</a>
                      
                      <a href="#">Contact</a>
                  </p>
  
                  
              </div>
  
              <div class="footer-center">
  
                  <div>
                      <i class="fa fa-map-marker"></i>
                      <p><span>Sri Sai Layout</span> Yelahanka, Bangalore</p>
                  </div>
  
                  <div>
                      <i class="fa fa-phone"></i>
                      <p>+91-9392642419</p>
                  </div>
  
                  <div>
                      <i class="fa fa-envelope"></i>
                      <p><a href="mailto:support@company.com">ashfaqhussaingmail.com</a></p>
                  </div>
  
              </div>
  
              <div class="footer-right">
  
                  <p class="footer-company-about">
                      <span>About the company</span>
                      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                  </p>
  
                  <div class="footer-icons">
  
                      <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
  
  
                  </div>
  
              </div>
  
          </footer> 



